# 1. Prevent the browser from listing folders (Security fix)
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Adjust this base to match your folder name
    RewriteBase /timestore/

    # 2. CATCH THE ROOT REQUEST (http://localhost/timestore/)
    # This specifically sends the empty root path to your index file.
    RewriteRule ^$  [R=301,L]

     # If the request is NOT a real file (-f)
    RewriteCond %{REQUEST_FILENAME} !-f
    # AND the request is NOT a real directory (-d)
    RewriteCond %{REQUEST_FILENAME} !-d
    # THEN route to index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
    
   
</IfModule>


   